# PROD
NG_APP_API_URL_PROD=https://api.electricity-business.com/api
STRIPE_PUBLIC_KEY_PROD=pk_live_prod_key

# DEV
NG_APP_API_URL_DEV=http://localhost:3000/api
STRIPE_PUBLIC_KEY_DEV=pk_test_dev_key

# DOCKER
NG_APP_API_URL_DOCKER=http://backend:3000/api
STRIPE_PUBLIC_KEY_DOCKER=pk_test_dev_key
